body {
  font-family: Arial, sans-serif;
  background-image: url("/images/bgi.jpg");
  background-size: cover;
}
.logo img{
  padding: 0px;
  margin-left: 2px;
  width: 100px;
  border-radius: 5%;
  
}

.card-img-top{
  transition: transform 1s;
  padding: 40px;
  margin: 0px;
}
.card-img-top:hover {
  transform: scale(1.2);
}

footer {
  background-color: #343a40;
  color: white;
  padding: auto;
  
}

footer a {
  text-decoration: none;
  color: #f8f9fa;
}

footer a:hover {
  text-decoration: underline;
}
